@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root {
  --h--game:  576;
  --w--game: 1024;
  --space: 8;
  --fz--base: 24px;
  --fz--big: 32px;
  --fz--small: 16px;
  --fz--title: 64px;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  background-color: rgba(50, 50, 50, 1);
  display: flex;
  font-size: var(--fz--base);
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100dvh;
  justify-content: center;
  width: 100dvw;
}

/* util */
.option__label {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}
input.option__input {
  visibility: hidden;
  height: 0;
  width: 0;
}

/* キャンバス */
.game-ctr {
  height: calc(var(--h--game) * 1px);
  overflow: hidden;
  position: relative;
  width: calc(var(--1--game) * 1px);
  margin: auto;
}

/* オーバーラップ */
.overlap {
  --diagonal-length: calc(sqrt(var(--h--game) * var(--h--game) + var(--w--game) * var(--w--game)) * 1px);
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  height: var(--diagonal-length);
  justify-content: center;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: var(--diagonal-length);
}
.overlap-msg {
  color: white;
  font-size: var(--fz--big);
}

/* タイトル */
.title-ctr {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(1px * var(--space));
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.title-page__ctr {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(1px * var(--space));
  height: 100%;
  justify-content: center;
  width: 100%;
}
.titlePage__title {
  font-size: var(--fz--title);
  flex: 0 0 auto;
  text-align: center;
  width: 100%;
}
.titlePage__btn-ctr {
  align-items: center;
  display: flex;
  gap: calc(1px * var(--space));
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.titlePage__btn {

  width: 50%;
}
.player-select-ctr {
  display: flex;
  flex-direction: column;
  gap: calc(1px * var(--space));
  height: 100%;
  justify-content: center;
  right: 0;
  padding: calc(1px * var(--space));
  position: absolute;
  top: 0;
  width: 20%;
}
.player-sex-opt__ctr {
  display: flex;
  flex-direction: column;
  gap: calc(1px * var(--space));
} 
.player-sex-opt {
  background-color: #fff;
  border-radius: 10px;
}
.player-name-ctr {

}
.player-name {

}
.player-name__label {

}

/* マップシーン */
.map-ctr {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.map-side-ctr {
  background-color: white;
  height: 100%;
  right: -20%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 20%;
}

.player-info__ctr {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
  width: 100%;
}
.player-info__heading {
  font-size: var(--fz--small);
  width: 100%;
}
.player-info--log__ctr {
  height: calc(var(--fz--base) + var(--space)*2);
  overflow: scroll;
  width: 100%;
}
.playerInfo--log {
  height: var(--fz--base);
  line-height: var(--fz--base);
  margin-block: calc(1px * var(--space));
  white-space: nowrap;
}

.player-ctrl__ctr {
  aspect-ratio: 1;
  height: 30%;
  margin-inline: auto;
}
.player-ctrl {
  height: 3rem;
  width: 3rem;
}
.player-ctrl span {
  display: none;
}

/* 戦闘シーン */
.battle-ctr {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.battle--bottom-ctr {
  border: solid 5px #fff;
  border-collapse: collapse;
  bottom: -30%;
  display: flex;
  gap: calc(1px * var(--space));
  height: 30%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% - var(--space) * 2px);
  padding: calc(1px * var(--space));
}
.battleーact-opt__ctr {
  display: flex;
  flex-direction: column;
  gap: calc(1px * var(--space));
  justify-content: space-evenly;
  width: 30%;
}

.battleーact-opt {
  background-color: #fff;
  width: 100%;
}
.battleーact-opt:has(input:checked) {
  border: solid 3px rgba(255, 0, 0, 0.7);
}
.battleーact-opt:has(input:disabled) {
  background-color: rgba(30, 30, 30, 0.7);
}

.battle-dialog__ctr {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: calc(1px * var(--space));
  justify-content: flex-start;
  overflow: scroll;
  padding: calc(1px * var(--space));
}
.battle-dialog {
  width: 100%;
}

.battleーitem-win {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  flex-direction: column;
  gap: calc(1px * var(--space));
  height: calc(70% - var(--space) * 3px);
  top: calc(1px * var(--space));
  left: 50%;
  padding: calc(1px * var(--space));
  position: absolute;
  transform: translate(-50%, 0%);
  width: 70%;
}
.battleーfight__ctr.active {
  display: flex;
}
.battleーitem__ctr {
  display: flex;
  gap: calc(1px * var(--space));
  flex: 1 0 auto;
  flex-wrap: wrap;
  padding: calc(1px * var(--space));
  width: 100%;
}
.button--set-battle-item {
  height: var(--fz--big);
}

.item {
  background-color: rgba(255, 255, 255, 0.5);
  flex: 0 1 calc((100% - var(--space) * 4px) / 5);
}
.item:has(input:checked){
  border: solid 3px rgba(255, 0, 0, 0.7);
}